<!DOCTYPE html>
<html>

<head>
    <title>訂單</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <h4><a class="border-none" href="/list">回商品列表頁</a></h4>
    <!-- <h3>訂單編號 : <%=order.orderId%></h3> -->
    <h3>商品ID : <%=order.packages[0].id%></h3>
    <h3>商品名稱 : <%=order.packages[0].products[0].name%></h3>
    <h3>價錢 : <%=order.amount%> NT/罐</h3>
    <form action="/createOrder/<%= order.orderId %>" method="post">
        <button class="bbtn" type="submit">前往結帳</button>
    </form>
</body>

</html>
